APP_NAME=portfolio
APP_ENV=localhost
TZ=Asia/Ho_Chi_Minh

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=5432

ADMIN_USERNAME=
ADMIN_PASSWORD=

JWT_SECRET_KEY=
JWT_EXPIRE_MINUTES=30
JWT_REFRESH_EXPIRE_DAYS=7
RESET_TOKEN_EXPIRE_MINUTES=15
VERIFY_EMAIL_TOKEN_EXPIRE_MINUTES=60

CORS_ORIGINS=[]

DATABASE_URL_ASYNC=
DATABASE_URL_SYNC=

SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_USE_TLS=true
CONTACT_RECEIVER_EMAIL=

FRONTEND_URL=

REDIS_URL=